<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
    <% data.map(function (slide){ %>
        <%- include('./slide', {slide}); %>
    <% })%>
</div>